[package]
name = "my-project"
version = "0.1.0"
authors = ["runner"]
edition = "2021"
license = "BSD-3-Clause"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html


[dependencies]
rand = "0.8.5"
rand_distr = "0.4.3"
# plotlib = "0.5.1"
